:root {
    --white-color: #FFFFFF;
    --darkgrey-color: #141414;
    --black-color: #000000;
    --blue-color: #26C7EA;
    --violet-color: #0B0E66;
    --green-color: #0A3853;
    --grey-color: #2B4A61;
    --blue2-color:#26C6EA;
    --lightblue-color:#94CFFF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    margin:0;
    font-family: 'Inter', sans-serif;
    background:#ffffff;
    color:#0B0E66;
}

.container{
    width:1030px;
    margin:0 auto;
}
header{
    position:absolute;
    width:100%;
    top:0;
    left:0;
    z-index:10;
}

header .container{

    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px 0;
    border-bottom:1px solid rgba(255,255,255,0.3);
}

.logo img{
    height:45px;
}
.nav ul{

    display:flex;
    gap:40px;
    list-style:none;
    margin:0;
    padding:0;
}

.nav a{

    text-decoration:none;
    color:#FFFFFF;
    font-weight:500;
    font-size:18px;
    transition:0.3s;
}

.nav a:hover{

    color:#94CFFF;
}
.header-buttons{

    display:flex;
    align-items:center;
    gap:20px;
}

.header-buttons button:first-child{
    padding:10px 35px;
    border-radius:30px;
    border:2px solid #26C7EA;
    border-radius: 40px 0px 40px 0px;
    background:#0B0E66;
    color: #26C6EA;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}


.header-buttons button:first-child:hover{
    background:#26C7EA;
}

.header-buttons button{
    background:none;
    border:none;
    color:white;
    font-size:16px;
}

.Hero{
    height:740px;
    background-image:
    linear-gradient(rgba(20, 20, 20, 0.171), rgba(29, 28, 28, 0)),
    url("./images/men-avatar.jpg");
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
}

.hero-container{
    width:450px;
    color:white;
}

.hero-container p{
    font-size:18px;
    line-height:1.5;
    margin-bottom:20px;
    
}


.hero-container button{
    margin-top:20px;
    padding:18px 40px;
    font-size:18px;
    color:#26C7EA;
    border-radius: 30px 0px 30px 0px;
    border:3px solid #26C7EA;
    background: #0B0E66;
    cursor:pointer;
    transition:0.3s;
}

.hero-container button:hover{
    transform:scale(1.05);
}

.hero-social{
    position:absolute;
    right:200px;
    top:300px;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.hero-social img{
    width:30px;
    transition:0.3s;
}

.hero-social img:hover{
    transform:scale(1.2);
}
.quote{
    text-align:center;
    padding:80px 0;
    color: #0A3853;
    line-height: auto;
}

.quote h2{
    font-family:'Headland One';
    font-size:28px;
    font-weight:400;
    width:700px;
    margin:0 auto 20px;
}

.quote p{
    font-size:20px;
    margin-bottom:20px;
}

.quote img{
    width:60px;
}
.trailer{
    width:1030px;
    margin:0 auto;
    position:relative;
}

.trailer img{
    width:100%;
    border-radius:10px;
}

.btn{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding:18px 40px;
    border-radius:35px;
    border:3px solid #26C7EA;
    color:white;
    background:linear-gradient(90deg,#0B0E66,#26C7EA);
    font-size:18px;
    cursor:pointer;
}


.language{
    padding:80px 0;
    background-image:url("./images/sky-avatar.jpg");
    background-size:cover;
}

.language-title{
    text-align:center;
    font-family:'Headland One';
    font-size:32px;
    margin-bottom:50px;
}

.language-cards{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
}
.language-cards div{
    background:white;
    width:200px;
    padding:30px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}
.language-cards div:hover{
    transform:translateY(-10px);
}
.language-cards h3{
    font-size:18px;
    margin-bottom:10px;
}
.language-cards p{
    font-size:18px;
    color:#26C7EA;
}
