:root {
    --white-color: #FFFFFF;
    --darkgrey-color: #141414;
    --black-color: #000000;
    --blue-color: #26C7EA;
    --violet-color: #0B0E66;
    --green-color: #0A3853;
    --grey-color: #2B4A61;
    --blue2-color:#26C6EA;
    --lightblue-color:#94CFFF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{

    font-family: 'Inter', sans-serif;
    background:#ffffff;
    color:#0B0E66;
}

.container{
    width:1200px;
    margin:0 auto;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:linear-gradient(rgba(10, 56, 83, 0.815)), url("./images/header.jpg");
    background-position: center;
    background-size: cover;
    

}

header .container{
    height: 150px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:20px 0;
    border-bottom:5px solid rgb(255, 255, 255);
}


.logo img{
    height:45px;
}
.nav ul{
    display: flex;
    justify-content: space-between;
    gap:40px;
    list-style:none;
    margin:0;
    padding:0;
}

.nav a{
    
    text-decoration:none;
    color:#FFFFFF;
    font-weight:500;
    font-size:18px;
    transition:0.3s;
}

.nav a:hover{

    color:#94CFFF;
}
.header-buttons{

    display:flex;
    align-items:center;
    gap:20px;
}

.header-buttons button:first-child{
    padding:10px 35px;
    border-radius:30px;
    width: 141px;
    height: 41.69px;
    border:2px solid #26C7EA;
    border-radius: 40px 0px 40px 0px;
    background:#0B0E66;
    color: #26C6EA;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}


.header-buttons button:first-child:hover{
    background:#26C7EA;
}

.header-buttons button{
    background:none;
    border:none;
    color:#FFFFFF;
    font-size:16px;
}
.knopka {
  position: relative;   /* родитель */
  display: inline-block;
}

.krapka {
  position: absolute;   /* кружок */
  
  /* центр по вертикали */
  top: 50%;
  transform: translateY(-50%);
  
  /* прижать вправо */
  right: 4px;
}

.Hero{
    height: 740px;
    margin:0 auto;
    background-image: url("./images/men-avatar.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 120px;

}

.hero-container{
    width:376px;
    height: 381px;
    color: #FFFFFF;
    
}

.hero-container p{
    font-size:18px;
    line-height:1.5;
    margin-bottom:20px;
    
}


.hero-container button{
    margin-top:20px;
    padding:18px 40px;
    font-size:18px;
    size: 20px;
    color:#26C7EA;
    border-radius: 30px 0px 30px 0px;
    border:3px solid #26C7EA;
    background: #0B0E66;
    cursor:pointer;
    transition:0.3s;
}

.hero-container button:hover{
    transform:scale(1.05);
}

.hero-social{
    position:absolute;
    right:200px;
    top:300px;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.hero-social img{
    width:40px;
    transition:0.3s;
}

.hero-social img:hover{
    transform:scale(1.2);
}
.quote{
    text-align:center;
    padding:80px 0;

}

.quote h2{
    font-family:'Headland One';
    font-size:28px;
    font-weight:400;
    width:700px;
    margin:0 auto 20px;
}

.quote p{
    font-size:20px;
    margin-bottom:20px;
}


.trailer{
    height: 741px;
    margin:0 auto;
    background-image: url("./images/girl-avatar.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.trailer img{
    width:1200px;
    height: 600px;
    border-radius:10px;
}

.btn{

    width: 260px;
    height: 80px;
    border-radius:35px 0px 35px;
    border:3px solid #26C7EA;
    color:#26C7EA;
    background:#0B0E66;
    font-size:20px;
    cursor:pointer;
}


.language{
    height: 704px;
    margin:0 auto;
    background: linear-gradient(rgba(255, 255, 255, 0.308)), url("./images/sky-avatar.jpg");
    background-position: center;
    background-size: cover;


}

.language-title{
    text-align:center;
    font-family:'Headland One';
    color: #141414;
    font-size: 32px;
    margin-bottom:50px;
}

.language-cards{
    display:grid;
    grid-template-columns: repeat(3, 350px);
    justify-content:center;
    
     gap:37px;
}
.language-cards img{
    height: 40px;
}


.language-cards div{
    background:linear-gradient(rgba(255, 255, 255, 0.705));
    width:320px;
    height: 240px;
    padding:30px;
    display: flex;
    text-align:center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.language-cards div:hover{
    transform:translateY(-10px);
}

.language-cards h3{
    font-size:24px;
    margin-bottom:10px;
    color: #141414;
}

.language-cards p{
    font-size:24px;
    color:#141414;
}

.footer {
  background: url("./images/header.jpg") center/cover no-repeat;
  position: relative;
  padding: 70px 0;
  color: #fff;
  font-family: Inter, sans-serif;
}

.footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(8, 32, 48, 0.85);
}

.footer .container {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 50px;
}

.footer-left {
  min-width: 250px;
}

.footer-left {
  padding-right: 50px;
  border-right: 1px solid rgba(255,255,255,0.4);
}

.footer-right {
  flex: 1;
}

.footer-right h2 {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.footer-right h2:first-child {
  min-width: 180px;
}

.footer-right h2:last-child {
  white-space: nowrap;
}
.footer-right p {
  margin-top: 30px;
  font-size: 14px;
  opacity: 0.7;
}
